
    

/* For mobile */
* {
  box-sizing: border-box;
}

[class *="col-"] {
    width: 100%;
    margin: 8px auto;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

.post-title {
    font-size: 36px; 
} 

#socialicons {
    text-align: center;
}



/* For all */
@import url("hover-min.css");
body {
  font: 400 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000000;
  background-color: #FFFFFF;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}
.site-footer {
  background-color: #FFBF00;
}

ul, ol {
  list-style:none;}

.site-title {
  text-align: center;
}

.post-thumb {
  max-width: 150px;
  margin-left: auto;
  margin-right: auto;

}

.footer-thumb {
  max-width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

a {
  color: #cc0000;
  text-decoration: none;
  font-weight: bold; }
a:hover {
    color: #cc0000;
    text-decoration: underline; }

img {
  min-width: 150px;
  max-width: 70%;
  margin: auto;
  display: block;
  vertical-align: middle; 
}

.footer-description p{
  line-height: 20px;
}

.site-nav{
  text-align: center;
  text-weight: none;
}


.site-nav .about{
  text-align: center;
  color: #000033;
  text-weight: bold;
}

.post-desc {
  color: #008080
}



#socialicons .icon{
    background: #cc0000;
    display: inline-block;
    color: white;
    font-size: 22px;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    vertical-align: middle;
    margin: 0 1px 8px;
    -webkit-border-radius: 17px; 
    -moz-border-radius: 17px; 
    border-radius: 17px; 
}
#socialicons .icon:hover{
    background: #008080;
}

/*post-specific css*/
.post-title {
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
  color: #008080 }












/* For desktop: */
@media only screen and (min-width: 768px) {
  
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 15px;
    
}

/*border: 1px solid red;*/

body{
  width: 750px;
  margin: 50px auto;
}

.post-thumb {
  max-width: 100%
}


.post-image {
    position:relative;
}
.post-image  img {
    width:100%;
    vertical-align:top;
}
.post-image:after {
    content: attr(data-content) "";
    text-align: center;
    vertical-align: middle;
    color: #FFBF00;
    position:absolute;
    width:100%; height:100%;
    top:0; left:0;
    background: #000033;
    opacity:0;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
}

.post-image:hover:after {
    opacity:0.8;
}
#socialicons {
    text-align: left;
}


/* Post-specific CSS: */


.post-title {
  font-size: 42px;
}



}












@media DISABLED {

/*OLD SHIT*/
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

/*Basic styling*/
body {
  font: 400 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #18390D;
  background-color: #FFFFFF;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  width: 750px;
  margin: 50px auto;
  }
@media screen and (max-width: 800px) {
    body {
      margin: 0px 5px 0px 5px;
    width: 100%; } 
}

.site-header {
  border-top: 5px solid #424242;
  border-bottom: 1px solid #e8e8e8;
  min-height: 56px;
  position: relative; }

.site-title {
  font-size: 26px;
  font-weight: 300;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left; }
  .site-title, .site-title:visited {
    color: #38553C; }

.post-title {
  font-size: 30px;
  text-align: center;
  color: #18390D;
  padding-top: 70px;
  padding-bottom: 70px;
  letter-spacing: -1px;
  line-height: 1; }
@media screen and (max-width: 800px) {
    .post-title {
      font-size: 26px; } }

  a {
  color: #43759E;
  font-weight: bold;
  text-decoration: none; }
  a:hover {
  text-decoration: underline; }

img {
  min-width: 150px;
  max-width: 40%;
  margin: auto;
  padding: 20px 0 20px 0;
  display: block;
  vertical-align: middle; 
}

img[alt="grid-image"]{
  display: inline-block;
  margin-bottom: 8px;
  width: calc(10% - 4px);
  margin-right: 4px;
  margin-left: 4px;

}

/*
.post-list ul li a:hover {
  background-color: black; }
*/


ul, ol {
  list-style:none;}

/*a:-webkit-any-link {
    color: #18390D;
    font-weight: bold;
    text-decoration: none;
    cursor: auto;
}*/

.post-link img {
  vertical-align: top;
  display: inline-block;
  margin-bottom: 8px;
  width: calc(25% - 4px);
  margin-right: 4px;
  margin-left: 4px;
}

.overlay {
  position: relative;
}
.overlay:after {
    content: '\A';
    position: absolute;
    width: calc(25% - 4px);
    height: calc(25% - 4px);
    margin-right: 4px;
    margin-left: 4px;
    margin-bottom: 8px;
    margin-top: 8px;
    vertical-align: top;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
    opacity: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.overlay:hover:after {
    opacity: 1;
}

.overlay:after {
    content: attr(data-content);
    color: #fff;
}


/*
.post-link img :nth-of-type(2n) {
  margin-right: 0;
}
*/

.site-nav {
  float: right;
  line-height: 56px; }
  .site-nav .menu-icon {
    display: none; }
  .site-nav .page-link {
    color: #111;
    line-height: 1.5; }
    .site-nav .page-link:not(:last-child) {
      margin-right: 20px; }
  @media screen and (max-width: 600px) {
    .site-nav {
      position: absolute;
      top: 9px;
      right: 15px;
      background-color: #fdfdfd;
      border: 1px solid #e8e8e8;
      border-radius: 5px;
      text-align: right; }
      .site-nav .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center; }
        .site-nav .menu-icon > svg {
          width: 18px;
          height: 15px; }
          .site-nav .menu-icon > svg path {
            fill: #424242; }
      .site-nav .trigger {
        clear: both;
        display: none; }
      .site-nav:hover .trigger {
        display: block;
        padding-bottom: 5px; }
      .site-nav .page-link {
        display: block;
        padding: 5px 10px;
        margin-left: 20px; }
        .site-nav .page-link:not(:last-child) {
          margin-right: 0; } }

.footer-col {
  float: left;
  margin-bottom: 15px;
  padding-left: 15px; }

.footer-col-1 {
  width: -webkit-calc(35% - (30px / 2));
  width: calc(35% - (30px / 2)); }

.footer-col-2 {
  width: -webkit-calc(20% - (30px / 2));
  width: calc(20% - (30px / 2)); }

.footer-col-3 {
  width: -webkit-calc(45% - (30px / 2));
  width: calc(45% - (30px / 2)); }

@media screen and (max-width: 800px) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (30px / 2));
    width: calc(50% - (30px / 2)); }

  .footer-col-3 {
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2)); } }
@media screen and (max-width: 600px) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2)); } }



/* additional styling*/

.catbloc:not(:target) {
    display: none;}
}