<header class="site-header" role="banner">

  <div class="wrapper">

    <!--Add this to site-title to make the site title a hyperlink href="{{ site.baseurl }}/" -->
    <div class="row">
      <nav class="col-12 site-nav">
        <a class="page-link about" href="#about">ABOUT</a>
      </nav>
    </div>
    <div class="row">
     <a class="col-12 site-title" href="/"><img src="/assets/chithra_title.png"></a>
    </div>

    <!--{{ site.title | escape }} -->

    <div class= "row>">
      <nav class="col-12 site-nav">
        <div class="col-4"></div>
        <a class="page-link col-2" href="/physical">PHYSICAL</a>
        <a class="page-link col-2" href="/digital">DIGITAL</a>
        <div class="col-4"></div>
      </nav>
      

  </div>

</header>